@model OctoCodes.Models.ArticleCommentsViewModel

@{
    ViewData["Title"] = "Article";
    Layout = "_Layout";
}

<div class="container">

    <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-8">

            <!-- Title -->
            <h1 class="mt-4">@Model.Article.Title</h1>

            <!-- Author -->
            <p class="lead">
                by @Model.Article.Author
            </p>

            <hr>

            <!-- Date/Time -->
            <p>@Model.Article.CreatedDate</p>

            <hr>

            <!-- Preview Image -->
            <img class="img-fluid rounded" src="@Url.Content("~/")@Model.Article.Image" alt="">

            <hr>

            <!-- Post Content -->
            <div id="content" runat="server">
            </div>

            <!-- Comments Form -->
            <div class="card my-4">
                <h5 id="addCommentHeader" class="card-header">Přidat komentář:</h5>
                <div class="card-body">
                    <form asp-action="AddComment">
                        <input asp-for="ArticleId" value="@Model.Article.Id" type="hidden"/>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Author" class="control-label"></label>
                            <input asp-for="Author" class="form-control"/>
                            <span asp-validation-for="Author" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Text" class="control-label"></label>
                            <textarea asp-for="Text" class="form-control" rows="3"></textarea>
                            <span asp-validation-for="Text" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-primary">Přidat komentář</button>
                    </form>
                </div>
            </div>

            @foreach (var comment in Model.Comments)
            {
                <div class="media mb-4">
                    <div class="media-body">
                        <h5 class="mt-0">@comment.Author</h5>
                        @comment.Text

                        @foreach (var subComment in comment.SubComments)
                        {
                            <div class="media mt-4">
                                <div class="media-body">
                                    <h5 class="mt-0">@subComment.Author</h5>
                                    @comment.Text
                                    </div>
                            </div>
                        }

                    </div>
                </div>
            }
        </div>
        <div>

            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        $('#content').html("@Model.Article.Text");
        $('#content').html($('#content').text());
    </script>
}
